workflows/error_workflow.json
{
  "name": "Global_Error_Handler_V2",
  "active": true,
  "nodes": [
    {
      "parameters": {},
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "const error = $json.execution.error.message;\nconst nodeName = $json.execution.lastNodeExecuted;\nconst workflowName = $json.workflow.name;\n\nlet errorType = 'unknown';\nlet severity = 'medium';\nlet shouldRetry = false;\n\nif (error.includes('timeout') || error.includes('ETIMEDOUT')) {\n  errorType = 'timeout';\n  severity = 'high';\n} else if (error.includes('401') || error.includes('unauthorized')) {\n  errorType = 'auth';\n  severity = 'high';\n} else if (error.includes('429') || error.includes('rate limit')) {\n  errorType = 'rate_limit';\n  severity = 'medium';\n  shouldRetry = true;\n} else if (error.includes('500') || error.includes('502') || error.includes('503')) {\n  errorType = 'server_error';\n  severity = 'high';\n  shouldRetry = true;\n} else if (error.includes('400') || error.includes('validation')) {\n  errorType = 'validation';\n  severity = 'low';\n}\n\nreturn { \n  json: {\n    error,\n    nodeName,\n    workflowName,\n    errorType,\n    severity,\n    shouldRetry,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "name": "Categorize Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [400, 300]
    },
    {
      "parameters": {
        "mode": "save",
        "data": "={{ { json: { last_error: $json } } }}",
        "key": "last_error",
        "operations": {
          "operations": [
            {
              "operation": "set",
              "value": "={{ $json }}"
            }
          ]
        }
      },
      "name": "Save Error to Memory",
      "type": "n8n-nodes-base.memory",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.shouldRetry }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Check Retry",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [600, 200]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ `⚠️ *Workflow Error*\n━━━━━━━━━━━━━\n\n📋 *Workflow*: ${$json.workflowName}\n🔧 *Node*: ${$json.nodeName}\n🚨 *Error Type*: ${$json.errorType}\n⏱ *Severity*: ${$json.severity}\n\n❌ *Error Message*:\n${$json.error}\n\n🔄 *Auto Retry*: ${$json.shouldRetry ? 'Yes' : 'No'}\n\n🕐 *Timestamp*: ${$json.timestamp}` }}",
        "parseMode": "Markdown"
      },
      "name": "Send Error Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [700, 300],
      "credentials": {
        "telegramApi": {
          "id": "telegram_creds",
          "name": "Telegram Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.shouldRetry }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Skip Success Notify",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [750, 400]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.shouldRetry }}",
              "value2": false
            }
          ]
        }
      },
      "name": "Check Non Retry",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [750, 500]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ `✅ *Error Handled - No Retry*\n━━━━━━━━━━━━━\n\nThe error has been logged. The workflow will not automatically retry.\n\n📋 *Workflow*: ${$json.workflowName}\n🔧 *Node*: ${$json.nodeName}\n\nPlease check the logs and manually restart if needed.` }}",
        "parseMode": "Markdown"
      },
      "name": "Notify Non Retry",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [800, 300],
      "credentials": {
        "telegramApi": {
          "id": "telegram_creds",
          "name": "Telegram Account"
        }
      }
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Categorize Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Categorize Error": {
      "main": [
        [
          {
            "node": "Save Error to Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Error to Memory": {
      "main": [
        [
          {
            "node": "Check Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Retry": {
      "main": [
        [
          {
            "node": "Send Error Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Success Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Non Retry": {
      "main": [
        [
          {
            "node": "Notify Non Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
