workflows/kickoff_workflow.json
{
  "name": "Freelancer_Project_Kickoff_Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [-400, 300],
      "id": "schedule-trigger-kickoff"
    },
    {
      "parameters": {
        "url": "http://python_service:8000/api/v1/projects/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "awarded"
            },
            {
              "name": "jobs",
              "value": "50"
            }
          ]
        },
        "options": {}
      },
      "name": "Get Awarded Projects",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [-200, 300],
      "id": "get-awarded-projects",
      "credentials": {
        "httpHeaderAuth": {
          "id": "python_api_auth",
          "name": "Python API Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get project IDs\nconst projects = $input.all();\nconst projectIds = projects.map(p => p.json.id);\n\n// Load memory for deduplication\nconst processedKickoffs = $memory.json.processed_kickoffs || [];\n\n// Filter out already processed projects\nconst newProjects = projects.filter(p => !processedKickoffs.includes(p.json.id));\n\nreturn { json: { new_project_ids: newProjects.map(p => p.json.id) }, newProjects };"
      },
      "name": "Check Processed Kickoffs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [0, 300],
      "id": "check-processed-kickoffs"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.new_project_ids.length }}",
              "value2": 0
            }
          ]
        }
      },
      "name": "Filter New Projects",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [200, 300],
      "id": "filter-new-projects"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ `http://python_service:8000/api/v1/projects/${$json.id}` }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {},
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.PYTHON_API_KEY }}"
            }
          ]
        }
      },
      "name": "Get Project Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [400, 200],
      "id": "get-project-details",
      "credentials": {
        "httpHeaderAuth": {
          "id": "python_api_auth",
          "name": "Python API Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const project = $json;\n\n// Determine template type from title and description\nconst text = (project.title + ' ' + (project.preview_description || '') + ' ' + (project.description || '')).toLowerCase();\n\nlet templateType = 'custom';\nif (text.includes('scrape') || text.includes('scraping') || text.includes('crawl') || text.includes('extract data')) {\n  templateType = 'web_scraping';\n} else if (text.includes('api') || text.includes('rest') || text.includes('backend') || text.includes('fastapi') || text.includes('flask')) {\n  templateType = 'api_development';\n} else if (text.includes('data analysis') || text.includes('analytics') || text.includes('dashboard') || text.includes('visualization')) {\n  templateType = 'data_analysis';\n} else if (text.includes('automation') || text.includes('automate') || text.includes('bot') || text.includes('workflow')) {\n  templateType = 'automation';\n}\n\nreturn { json: { ...project, detected_template: templateType } };"
      },
      "name": "Detect Template Type",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [600, 200],
      "id": "detect-template-type"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ `http://python_service:8000/api/v1/bids?project_id=${$json.id}` }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {},
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.PYTHON_API_KEY }}"
            }
          ]
        }
      },
      "name": "Get Winning Bid",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [600, 400],
      "id": "get-winning-bid",
      "credentials": {
        "httpHeaderAuth": {
          "id": "python_api_auth",
          "name": "Python API Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://python_service:8000/api/v1/kickoff/trigger",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "project_freelancer_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "bid_id",
              "value": "={{ $json.bid_id || $('Get Winning Bid').item.json.id }}"
            }
          ]
        },
        "options": {},
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.PYTHON_API_KEY }}"
            }
          ]
        }
      },
      "name": "Trigger Kickoff",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [800, 300],
      "id": "trigger-kickoff",
      "credentials": {
        "httpHeaderAuth": {
          "id": "python_api_auth",
          "name": "Python API Auth"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ `🎉 *Congratulations! Project Awarded!*\n━━━━━━━━━━━━━━━━━━\n\n📌 *Project*: ${$('Get Project Details').item.json.title}\n💰 *Budget*: ${$('Get Project Details').item.json.currency_code || 'USD'} ${$('Get Project Details').item.json.budget_minimum} - ${$('Get Project Details').item.json.budget_maximum}\n\n🚀 *Kick-off Initialization Started*\n━━━━━━━━━━━━━━━━━━\n\n📁 *Repository*: ${$json.results.repository?.url || 'Skipped (not configured)'}\n📋 *Collaboration*: ${$json.results.collaboration?.url || 'Skipped (not configured)'}\n\n📝 *Template*: ${$json.template_type}\n━━━━━━━━━━━━━━━━━━\n✅ Project environment is ready to start!` }}",
        "parseMode": "Markdown"
      },
      "name": "Telegram Success Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [1000, 200],
      "retryOnFail": true,
      "credentials": {
        "telegramApi": {
          "id": "telegram_creds",
          "name": "Telegram Account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ `❌ *Kick-off Failed*\n━━━━━━━━━━━━━━━━━━\n\n📌 *Project ID*: ${$('Get Project Details').item.json.id}\n📌 *Project*: ${$('Get Project Details').item.json.title}\n\n⚠️ *Error*: ${$json.error || 'Unknown error'}\n\nPlease check the logs and try manually triggering the kick-off.` }}",
        "parseMode": "Markdown"
      },
      "name": "Telegram Error Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [1000, 400],
      "retryOnFail": true,
      "credentials": {
        "telegramApi": {
          "id": "telegram_creds",
          "name": "Telegram Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}"
            }
          ]
        }
      },
      "name": "Check Kickoff Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1000, 300],
      "id": "check-kickoff-success"
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ `ℹ️ *Kick-off Already Processed*\n━━━━━━━━━━━━━━━━━━\n\nProject ID: ${{ $json.id }}\n\nThis project has already been initialized.` }}",
        "parseMode": "Markdown"
      },
      "name": "Notify No New Projects",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [200, 500],
      "retryOnFail": true,
      "credentials": {
        "telegramApi": {
          "id": "telegram_creds",
          "name": "Telegram Account"
        }
      }
    },
    {
      "parameters": {},
      "name": "Update Memory",
      "type": "n8n-nodes-base.memory",
      "typeVersion": 1,
      "position": [1200, 300],
      "id": "update-memory"
    },
    {
      "parameters": {
        "jsCode": "// Get existing processed kickoffs\nconst existing = $memory.json.processed_kickoffs || [];\n\n// Add new project IDs\nconst newIds = $('Check Processed Kickoffs').item.json.new_project_ids || [];\nconst updated = [...existing, ...newIds];\n\n// Keep only last 500 entries\nconst trimmed = updated.slice(-500);\n\nreturn { json: { processed_kickoffs: trimmed } };"
      },
      "name": "Update Processed List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [1400, 300],
      "id": "update-processed-list"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Awarded Projects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Awarded Projects": {
      "main": [
        [
          {
            "node": "Check Processed Kickoffs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Processed Kickoffs": {
      "main": [
        [
          {
            "node": "Filter New Projects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter New Projects": {
      "main": [
        [
          {
            "node": "Notify No New Projects",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Project Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Project Details": {
      "main": [
        [
          {
            "node": "Detect Template Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Template Type": {
      "main": [
        [
          {
            "node": "Get Winning Bid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Winning Bid": {
      "main": [
        [
          {
            "node": "Trigger Kickoff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Kickoff": {
      "main": [
        [
          {
            "node": "Check Kickoff Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Kickoff Success": {
      "main": [
        [
          {
            "node": "Telegram Success Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram Error Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Success Notification": {
      "main": [
        [
          {
            "node": "Update Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Memory": {
      "main": [
        [
          {
            "node": "Update Processed List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "47cc3d2e-3f8f-40ed-8f3c-cc119d7873c6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "97a083e1732f0007a34b1bf422448ee0a386273fc2480fae4ee7f1da505fc94b"
  },
  "id": "ProjectKickoffWorkflow",
  "tags": ["freelancer", "kickoff", "automation"]
}
