workflows/polling_workflow.json
{
  "name": "Freelancer_Polling_And_Analysis_V2",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutes": 3
            }
          ]
        }
      },
      "name": "Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://python_service:8000/api/v1/projects/search",
        "sendQuery": true,
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {},
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.PYTHON_API_KEY }}"
            }
          ]
        }
      },
      "name": "Freelancer API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "python_api_auth",
          "name": "Python API Auth"
        }
      }
    },
    {
      "parameters": {
        "mode": "load",
        "data": "={ \"json\": { \"processed_project_ids\": $json.processed_project_ids || [] } }",
        "key": "processed_projects",
        "operations": {
          "operations": []
        }
      },
      "name": "Load Memory",
      "type": "n8n-nodes-base.memory",
      "typeVersion": 1,
      "position": [650, 400]
    },
    {
      "parameters": {
        "jsCode": "const projects = $input.all().map(item => item.json);\nconst memory = $('Load Memory').first().json;\nconst processedIds = memory.processed_project_ids || [];\n\n// Filter out already processed projects\nconst newProjects = projects.filter(p => !processedIds.includes(p.id));\n\nreturn newProjects.map(p => ({ json: { ...p, is_new: true } }));"
      },
      "name": "Check Duplicate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ Object.keys($json).length > 0 }}"
            }
          ]
        }
      },
      "name": "Filter New Projects",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "mode": "save",
        "data": "={{ { \"json\": { \"processed_project_ids\": [...($('Load Memory').first().json.processed_project_ids || []), ...$json.all().map(p => p.id)].slice(-1000) } } }}",
        "key": "processed_projects",
        "operations": {
          "operations": [
            {
              "operation": "set",
              "value": "={{ { \"processed_project_ids\": [...($('Load Memory').first().json.processed_project_ids || []), ...$json.all().map(p => p.id)].slice(-1000) } }"
            }
          ]
        }
      },
      "name": "Update Memory",
      "type": "n8n-nodes-base.memory",
      "typeVersion": 1,
      "position": [1250, 400]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "file:///home/node/.n8n/workflows/个人简历-核心能力.md",
        "options": {}
      },
      "name": "Load Resume",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1650, 200],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "jsCode": "const project = $json;\nconst resume = $('Load Resume').first().json;\nconst budgetMin = project.budget_minimum || 0;\nconst budgetMax = project.budget_maximum || 0;\nconst currency = project.currency_code || 'USD';\nconst title = project.title || 'N/A';\nconst description = project.preview_description || project.description || 'N/A';\nconst skillsText = resume.skills ? resume.skills.replace(/\\|/g, ', ') : 'Python, AI/ML, Backend Development';\nconst experience = resume.projects ? resume.projects.substring(0, 500) : 'Experience with AI-driven systems and automation.';\n\nconst prompt = `You are a professional freelancer bidding expert.\n\n## User Profile (Skills & Experience)\nCore Skills: ${skillsText}\nRelevant Experience: ${experience}\n\n## Project to Evaluate\nTitle: ${title}\nBudget: ${budgetMin} - ${budgetMax} ${currency}\nDescription: ${description}\n\n## Your Task\n1. **Rate Match (0-10)**: Evaluate how well this project matches user's skills and experience.\n2. **Reasoning**: Explain your rating in 2-3 sentences.\n3. **Bid Strategy**: Suggest a bid amount (${currency}) that balances competitiveness and value.\n4. **Draft Proposal**: Write a professional, concise proposal (2-4 sentences) highlighting relevant skills.\n\n## Output Format\nReturn valid JSON only:\n{\n  \"score\": <number 0-10>,\n  \"reason\": \"<reasoning>\",\n  \"suggested_bid\": <number>,\n  \"proposal_draft\": \"<professional proposal>\"\n}`;\n\nreturn { json: { project, resume, prompt } };"
      },
      "name": "Build AI Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [1850, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "claude-3-5-sonnet-20241022"
            },
            {
              "name": "max_tokens",
              "value": "1000"
            },
            {
              "name": "messages",
              "value": "={{ [{ \"role\": \"user\", \"content\": $json.prompt }] }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Claude Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2050, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "jsCode": "const content = $input.all()[0].json.content[0].text;\nconst projectData = $('Build AI Prompt').first().json.project;\ntry {\n  const parsed = JSON.parse(content);\n  return {\n    json: {\n      ...projectData,\n      score: parsed.score,\n      reason: parsed.reason,\n      proposal_draft: parsed.proposal_draft,\n      suggested_bid: parsed.suggested_bid,\n      ai_analysis: parsed\n    }\n  };\n} catch (e) {\n  return {\n    json: {\n      ...projectData,\n      error: 'Failed to parse AI response',\n      raw_response: content\n    }\n  };\n}"
      },
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [2250, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ `http://python_service:8000/api/v1/projects/${$json.id}` }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ai_score",
              "value": "={{ $json.score }}"
            },
            {
              "name": "ai_reason",
              "value": "={{ $json.reason }}"
            },
            {
              "name": "ai_proposal_draft",
              "value": "={{ $json.proposal_draft }}"
            },
            {
              "name": "suggested_bid",
              "value": "={{ $json.suggested_bid }}"
            }
          ]
        },
        "options": {},
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.PYTHON_API_KEY }}"
            }
          ]
        }
      },
      "name": "Save to Database",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2450, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "python_api_auth",
          "name": "Python API Auth"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ `🆕 *New Project Matched*\n━━━━━━━━━━━━━━━\n📌 *Title*: [${$json.title}](https://www.freelancer.com/projects/${$json.id})\n💰 *Budget*: ${$json.budget_minimum || 0}-${$json.budget_maximum || 0} ${$json.currency_code || 'USD'}\n⭐ *Score*: ${$json.ai_analysis?.score || 0}/10\n💡 *Suggested Bid*: ${$json.currency_code || 'USD'} ${$json.ai_analysis?.suggested_bid || 0}\n\n📝 *Reason*:\n${$json.ai_analysis?.reason || 'N/A'}\n\n✨ *Proposal Draft*:\n${$json.ai_analysis?.proposal_draft || 'N/A'}` }}",
        "parseMode": "Markdown",
        "replyMarkup": "inlineKeyboard",
        "additionalFields": {
          "inline_keyboard": {
            "rows": [
              [
                {
                  "text": "✅ Bid (Suggested)",
                  "callback_data": "={{ `bid:${$json.id}:${$json.ai_analysis?.suggested_bid || 0}` }}"
                },
                {
                  "text": "✏️ Custom Bid",
                  "callback_data": "={{ `edit:${$json.id}` }}"
                }
              ],
              [
                {
                  "text": "❌ Ignore",
                  "callback_data": "={{ `ignore:${$json.id}` }}"
                },
                {
                  "text": "🌐 Open Link",
                  "url": "={{ `https://www.freelancer.com/projects/${$json.id}` }}"
                }
              ]
            ]
          }
        }
      },
      "name": "Telegram Notify",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [2650, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "credentials": {
        "telegramApi": {
          "id": "telegram_creds",
          "name": "Telegram Account"
        }
      }
    }
  ],
  "connections": {
    "Schedule": {
      "main": [
        [
          {
            "node": "Freelancer API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Freelancer API": {
      "main": [
        [
          {
            "node": "Load Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Memory": {
      "main": [
        [
          {
            "node": "Check Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Duplicate": {
      "main": [
        [
          {
            "node": "Filter New Projects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter New Projects": {
      "main": [
        [
          {
            "node": "Update Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Memory": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Load Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Resume": {
      "main": [
        [
          {
            "node": "Build AI Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build AI Prompt": {
      "main": [
        [
          {
            "node": "Claude Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Analysis": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Save to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Database": {
      "main": [
        [
          {
            "node": "Telegram Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Notify": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
